@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500;600;700;800&display=swap');

:root {
    --primary: #1ea3a6;
    --secondary: #2a2d4c;
    --white: #ffffff;
    --black: #000000;
    --card: #edeeef;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary);
    width: 375px;
    height: 556px;
    font-family: 'Changa', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: 2px !important;
    width: 2px !important;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    cursor: pointer;
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    cursor: pointer;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
}

::selection {
    background-color: var(--primary);
    color: #fff !important;
}

.container {
    width: '100%';
    height: 556px;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    text-align: 'flex-start';
    background-color: var(--card);
    overflow: hidden;
}

.header {
    border-width: 0px;
    border-bottom-width: 4px;
    border-style: solid;
    border-color: var(--primary);
    background-color: var(--secondary);
}

.header-content {
    width: '100%';
    height: 48px;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    margin: 0.3rem;
}

.feed-container {
    padding: 0 0.8rem;
    height: 424px;
    overflow-y: auto;
}

.no-feed-container {
    padding: 0.8rem;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
