:root {
    --primary: #1ea3a6;
    --secondary: #2a2d4c;
    --white: #ffffff;
    --black: #000000;
    --card: #edeeef;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
